{% extends 'base.html' %}


{% block title %}
    <title>Category</title>
{% endblock %}


{% block content %}
    <div class="col-12 col-md-10 mb-3 mx-auto mt-3">
        {% for category in categories %}
            <div class="card bg-dark text-light mb-1">
                <div class="card-body">
                    <a href="{% url 'category-detail' category.id %}">
                        <h4 class="card-title text-info">
                            {{ category.title }}
                        </h4>
                    </a>
                    <p class="card-text">
                        {{ category.description|linebreaks }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}