{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
<title>BrainyQuiz - Profile</title>
{% endblock %}


{% block content %}

<div class="col-12 col-md-10 mb-3 mx-auto mt-3">
    <div class="col-8 col-md-8 mb-3 mx-auto mt-3">
        <div class="card bg-success text-light mb-1">
            <div class="card-body">
                <div>
                    <h5>User : {{ user.username }}</h5>
                    <p>Email : {{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>

    {% for quiz in quiz_list %}
    <div class="card bg-dark text-light mb-1">
        <div class="card-body">
            <div class="mb-4">
                <h4 class="card-title text-info">
                    {{ quiz.title }}
                </h4>
                <p class="card-text">
                    {{ quiz.description|linebreaks }}
                </p>
                <p><small class="text-primary"><b>
                            Author : {{ quiz.author.first_name }} {{ quiz.author.last_name }}
                        </b></small></p>
                <p><small class="text-danger"><b>
                            Difficulty : {{ quiz.get_difficulty_display }}
                        </b></small></p>
            </div>
            <div>
                {% if user == quiz.author %}
                <div class="row">
                    <h4 class="card-title text-info col-4 col-sm-1">
                        <a href="{% url 'question-feature-ext' quiz.id %}">View</a>
                    </h4>
                    <h4 class="card-title text-info col-4 col-sm-2">
                        <a href="{% url 'question-create' quiz.id %}">Add Question</a>
                    </h4>
                </div>
                {% else %}
                <h4 class="card-title text-info">
                    <a href="{% url 'quiz-play' quiz.id %}">Play Quiz</a>
                </h4>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}