<!doctype html>
<html lang="en">
<head>
    {% include 'bootstrap.html' %}

    <title>{{ title }}</title>
</head>
<body>
<div>
    {% include 'navbar.html' %}
</div>

<div class="col-12 col-md-4 mb-3 mx-auto mt-3">
    {% if messages %}
        {% for message in messages %}
            <div class="alrt alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>

<div style="min-height: 90vh">
    {% block content %} {% endblock %}
</div>

<div>
    {% include 'footer.html' %}
</div>

{% include 'js.html' %}
</body>
</html>